body {
    padding: 0;
    margin: 0;
    font: 400 15px 'Open Sans', sans-serif;
}
div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font: 900 30px 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    color: white;
    padding: 62px 0 75px 0;
    background: linear-gradient(135deg, rgba(77,190,254,1) 35%, rgba(55,143,217,1) 100%);
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.box {
    margin-top: 140px;
}
.box_title {
    font-size: 37px;
    width: 645px;
}
.box_title span {
    font-size: 59px;
}
.box_text {
    width: 405px;
    font-size: 16px;
    line-height: 1.65em;
    margin: 40px 0;   
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 220px;
    padding: 20px 0;
    background: #ffd429;
    transition: all 0.5s ease;
    font: 900 15px 'Montserrat', sans-serif;
}
.btn:hover {
    background: #f5c60b;
}
.traveling {
    margin-left: -58px;
}
.ambition {
    text-align: center;
    padding: 100px 0 105px 0;
}
.ambition_title {
    margin-bottom: 70px;
}
.benefit {
    height: 175px;
    width: 300px;
    padding-top: 90px;
    background: url('../img/free_time.png') no-repeat center top;
}
.benefit_title {
    font-size: 19px;
    margin-bottom: 19px;
}
.benefit_travel {
    background: url('../img/bright_travel.png') no-repeat center top;
}
.benefit_create {
    background: url('../img/value_creation.png') no-repeat center top;
}
.ticket {
    background: #ecf3f8;
    padding: 100px 0;
    text-align: center;
}
.ticket_title {
    margin-bottom: 60px;
}
.form {
    width: 340px;
    margin: 0 auto;
}
input {
    width: 340px;
    margin-bottom: 17px;
    padding:15px 0 15px 25px;
    border: solid 1px #bbbbbb;
    border-radius: 3px;
    font: 400 15px 'Open Sans', sans-serif;
    color: #bbbbbb;
}
.ticket_btn {
   width: 340px;
   border: none;
   cursor: pointer;
}
.footer {
    background: #164d7a;
    padding: 60px 0;
    text-align: center;
    font-size: 14px;
    color: white;
}
.animated {
    opacity: 0;
}
/* responsive */
/* 992px - 1200px */
@media screen and (max-width: 1200px){
    .container {
        width: 960px;
    }
    .traveling {
        width: 380px;
        height: 380px;
        margin-top: 185px;
        margin-left: -50px;
    }
}
/* 768px - 992px */
@media screen and (max-width: 992px){
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
    }
    .traveling {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
    .benefit {
        margin: 0 auto;
    }
    .benefit_travel {
        margin: 25px auto;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px){
    .container {
        width: 540px;
    }
    .box_title {
        width: 100%;
    }
    .box_text {
        width: 100%;
    }
    .traveling {
        margin-top: 40px;
    }
}
/* 0 - 576px */
@media screen and (max-width: 576px){
    .container {
        width: 90%;
    }
    .header {
        padding: 30px 0;
    }
    .logo {
        display: block;
        margin: 0 auto;
    }
    .box {
        margin-top: 50px;
    }
    .btn {
        width: 100%;
    }
    .ambition {
        padding: 70px 0;
    }
    .benefit {
        width: auto;
    }
    .ticket {
        padding: 70px 0;
    }
    .form {
        width: auto;
    }
    input {
        width: 100%;
        padding-left: 13px;
    }
    .footer {
        padding: 30px 0;
    }
}